<div class="container">
    <div class="row justify-content-end">
        <h2>
            Tra cứu bệnh
        </h2>
        <div class="line_menu">
            <ul>
                <li>
                    <a class="selected">Từ điển bệnh</a>
                </li>
                <li>
                    <a href="#">Thuốc</a>
                </li>
                <li>
                    <a href="#">Cơ sở y tế</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Search box -->
    <div class="row justify-content-md-center">
        <div class="search_container col-md-8 col-sm-12">
            <div class="search_field">
                <img class="icon" src="assets/icons/search-icon.svg">
                <img [@fadeInOut] *ngIf="searchKey.value && !loading" class="icon-end" src="assets/icons/cancel.svg" (click)="onClearSearch()">
                <svg [@fadeInOut] *ngIf="loading" class="spinner icon-end" width="10px" height="10px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                </svg>

                <input type="text" class="search form-control form-control-lg" placeholder="Tìm kiếm bệnh" ngui-auto-complete [formControl]="searchKey"
                    [source]="observableSource" [list-formatter]="autocompleListFormatter" display-property-name="Name" max-num-list="5"
                    min-chars="2" (valueChanged)="onSearchBenh($event)" />
            </div>
        </div>
    </div>
    <!-- end Search box -->

    <div class="row justify-content-md-center content">

        <!-- Danh sach benh -->
        <div class="col-lg-6 col-md-6 col-block h-100" >
            <div class="col-header">
                Danh sách bệnh <span class="badge badge-danger">{{dsBenhCount}}</span>
            </div>
            <perfect-scrollbar class="col-content">
                <div [@fadeInOut] *ngIf="loading" class="loading">
                    <svg class="spinner" width="20px" height="20px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                    </svg>
                </div>
                <ul *ngIf="dsBenh.length > 0 && !loading; else tcEmpty">
                    <li *ngFor="let benh of dsBenh">
                        <a style="cursor: pointer;" (click)="onShowBenh(benh)">
                            <span class="title" pageScroll [pageScrollDuration]="500">{{benh.Name}}</span>
                        </a>
                    </li>
                    <li>
                        <a style="cursor: pointer; color: blue" (click)="loadMore()">
                            <span class="title">Xem thêm</span>
                        </a>
                    </li>
                </ul>
                <ng-template #tcEmpty>
                    <div class="empty" *ngIf="!loading">
                        Tìm kiếm bệnh bằng cách gõ từ khoá vào ô tìm bệnh
                    </div>
                </ng-template>

            </perfect-scrollbar>

        </div>
        <!-- end Danh sach benh -->


    </div>
    <!-- Hiện kết quả tìm kiếm lọc triệu chứng -->
    <app-ketqua id="ketqua" [benh]="benh"></app-ketqua>
</div>
