<div class="row">
        <div class="col" style="margin-top:30px;">
            <div class="tabs">
                <div class="tabs_header">
                    <ul>
                        <li><a class="active" href="#">Chi tiết</a></li>
                        <li><a href="#">Thông tin</a></li>
                        <li><a href="#">Kinh nghiệm khám chữa</a></li>
                        <li><a href="#">Dịch vụ</a></li>
                        <div class="clearfix"></div>
                    </ul>

                </div>

                <app-chitiet></app-chitiet>

            </div>
        </div>
    </div>
