/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Segoe UI Web';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-vietnamese/segoeui-light.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-vietnamese/segoeui-light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-vietnamese/segoeui-semilight.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-vietnamese/segoeui-semilight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-vietnamese/segoeui-regular.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-vietnamese/segoeui-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-vietnamese/segoeui-semibold.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-vietnamese/segoeui-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'Segoe UI Web', "Segoe UI";
    font-size: 14px;
    padding-top: 3rem;
    background-color: #F8F8F8;
}
a {
    cursor: pointer;
    color: black;
}
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover
{
    color: rgb(0, 119, 154);
}
a:hover {
    color: rgb(0, 119, 154);
}
.progress-bar{
    background-color: rgb(0, 119, 154) !important;

}
.progress{
    border-radius: 2px;
}
a:hover {
    text-decoration: none;
}

.custom-checkbox .custom-control-indicator {
    border-radius: 2px;
}

input[type=checkbox]:focus {
    outline: none;
}

.custom-control-input:checked~.custom-control-indicator {
    background-color: #00749A;
}

.top-bar {
    background: rgb(0, 119, 154);
    padding: 0;
    height: 45px;
    overflow: hidden;
    margin: 0;
}

.logo {
    padding: 5px 15px;
    border-right: solid 1px rgba(255, 255, 255, 0.3);
}

.logo:hover {
    background: rgba(33, 136, 167, 0.90)
}

.logo span {
    font-size: 13px;
    text-transform: uppercase;
}

.logo img {
    width: 36px;
    height: 36px;
}

.top-bar-right {
    justify-content: flex-end;
}

.top-bar-right ul li {
    border-right: solid 1px rgba(255, 255, 255, 0.3);
}

.top-bar-right ul li a {
    min-width: 40px;
    text-align: center;
    height: 45px;
}

.top-bar-right ul li a:hover {
    background: rgba(33, 136, 167, 0.90);
}

.top-bar-right ul li a i {
    color: #fff;
    font-size: 18px;
    margin: 5px 0;
}

.account {
    display: flex;
    justify-content: flex-start;
    padding: 0 5px;
}

.account .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background: #ccc; */
    margin: 8px 4px;
    overflow: hidden;
}

.account .avatar img {
    widows: 100%;
    height: 100%;
}

.account .name {
    font-size: 13px;
    color: #fff;
    padding: 12px 5px;
}

input.form-control {
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

input.search.form-control {
    font-size: 14px;
}

input.form-control:focus {
    border-color: #00749A;
}


/*Placeholder Colors*/

.search.form-control::-webkit-input-placeholder {
    color: #939393;
    font-size: 14px;
}

.search.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #939393;
    font-size: 14px;
}

.search.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #939393;
    font-size: 14px;
}

.search.form-control:-ms-input-placeholder {
    color: #939393;
    font-size: 14px;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}


/* .bg-xanh {
  background-color: #00749A;
} */

.line_menu {
    float: right;
    margin-top: -6px;
}

.line_menu ul {
    list-style-type: none;
}

.line_menu li {
    float: left;
}

.line_menu li a {
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #949494;
}

.line_menu li a:hover {
    color: #00749A;
}

.svg-icon {
    width: 16px;
    height: 16px;
}

@media only screen and (max-width: 768px) {
    .top-bar {
        overflow: visible;
        flex-wrap: nowrap;
    }
    .collapse {
        display: block;
        z-index: 1000;
    }
    .collapse .navbar-nav {
        flex-direction: row;
        justify-content: flex-end;
    }
    .name {
        display: none;
    }
    .top-bar .container {
        flex-wrap: nowrap !important;
    }
}


/* .ngui-auto-complete {
    top: 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 6px 9px rgba(0,0,0,.2);
} */

.ngui-auto-complete>ul {
    border: none !important;
    animation: none !important;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 6px 9px rgba(0, 0, 0, .2);
}

.ngui-auto-complete>ul li:hover {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.ngui-auto-complete>ul li.selected {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.ngui-auto-complete>ul li {
    line-height: 32px;
    height: 34px;
    padding: 2px 5px;
    border-bottom: 1px solid #eee;
    text-align: left;
    cursor: pointer;
}

.ngui-auto-complete>ul li.no-match-found {
    display: none;
}

.ngui-auto-complete>ul li.loading {
    display: none;
}

.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
    0% {
        stroke: #4285F4;
    }
    25% {
        stroke: #DE3E35;
    }
    50% {
        stroke: #F7C223;
    }
    75% {
        stroke: #1B9A59;
    }
    100% {
        stroke: #4285F4;
    }
}

@keyframes colors {
    0% {
        stroke: #4285F4;
    }
    25% {
        stroke: #DE3E35;
    }
    50% {
        stroke: #F7C223;
    }
    75% {
        stroke: #1B9A59;
    }
    100% {
        stroke: #4285F4;
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}


/* tabs */

.tabs {
    width: 100%;
}

.tabs .tabs_header {
    width: 100%;
    clear: both;
    background-color: #F8F8F8;
}

.tabs .tabs_header ul {
    list-style: none;
    border-bottom: solid 1px #ccc;
    width: 100%;
    padding: 0 0 5px 0;
}

.tabs .tabs_header ul li {
    /* float: left; */
    margin-right: 20px;
    display: inline;
    cursor: pointer;
}

.tabs .tabs_header ul li a {
    text-decoration: none;
    color: #A4A4A4;
    font-weight: 600;
    font-size: 15px;
    padding: 0 10px 5px 10px;
}

.tabs .tabs_header ul li a:hover {
    color: #00749A;
    border-bottom: 1px solid #00749A;
    box-shadow: inset 0 -2px 0 #00749A;
}

.tabs .tabs_header ul li a.active {
    color: #00749A;
    border-bottom: 1px solid #00749A;
    box-shadow: inset 0 -2px 0 #00749A;
}

.tabs .tabs_info {
    margin-top: -10px;
    margin-left: 10px;
    font-size: 12px;
    color: #A4A4A4;
    font-weight: 300;
}

.tabs .tabs_content {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 10px;
    margin-top: 7px;
    border-radius: 2px;
}

.tabs .tabs_content .title {
    font-size: 17px;
    padding-bottom: 7px;
}

@media only screen and (max-width: 768px) {
    .tabs .tabs_header ul {
        list-style: none;
        border-bottom: solid 1px #ccc;
        width: 100%;
        padding: 0 0 5px 0;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
    }
    .tabs .tabs_header ul::-webkit-scrollbar {
        display: none;
    }
}


/* App boot */

#app-boot-bg .circle,
#app-boot-bg .line,
#app-boot-bg .rect,
.loading-bg .circle,
.loading-bg .line,
.loading-bg .rect {
    background: #E1E9EE;
    -webkit-animation: pulse .65s infinite alternate;
    animation: pulse .65s infinite alternate;
}

#app-boot-bg .delay200,
.loading-bg .delay200 {
    -webkit-animation-delay: .2s!important;
    animation-delay: .2s !important;
}

#app-boot-bg .delay260,
.loading-bg .delay260 {
    -webkit-animation-delay: 260ms!important;
    animation-delay: 260ms!important;
}

#app-boot-bg .delay320,
.loading-bg .delay320 {
    -webkit-animation-delay: 320ms!important;
    animation-delay: 320ms!important;
}

#app-boot-bg .delay380,
.loading-bg .delay380 {
    -webkit-animation-delay: 380ms!important;
    animation-delay: 380ms!important;
}

#app-boot-bg .delay140,
#app-boot-bg .delay200,
#app-boot-bg .delay260,
#app-boot-bg .delay320,
#app-boot-bg .delay380,
.loading-bg .delay140,
.loading-bg .delay200,
.loading-bg .delay260,
.loading-bg .delay320,
.loading-bg .delay380 {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-animation: fade-slide-in 334ms cubic-bezier(0, 0, .2, 1) forwards;
    animation: fade-slide-in 334ms cubic-bezier(0, 0, .2, 1) forwards;
}

#app-boot-bg .feed-profile .line,
.loading-bg .feed-profile .line {
    margin: 10px auto;
    -webkit-animation: pulse .65s infinite alternate;
    animation: pulse .65s infinite alternate
}

#app-boot-bg .line,
.loading-bg .line {
    height: 10px;
    margin: 10px 0;
}

#app-boot-bg .circle,
.loading-bg .circle {
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    width: 56px;
    height: 56px;
}

#app-boot-bg .rect,
.loading-bg .rect {
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    height: 48px;
}

#app-boot-bg .height20,
.loading-bg .height20 {
    height: 20px;
}

#app-boot-bg .width110,
.loading-bg .width110 {
    width: 110px;
}

#app-boot-bg .width140,
.loading-bg .width140 {
    width: 140px;
}

#app-boot-bg .width250,
.loading-bg .width250 {
    width: 250px;
}

#app-boot-bg .width470,
.loading-bg .width470 {
    width: 470px;
}

#app-boot-bg .width440,
.loading-bg .width440 {
    width: 440px;
}

#app-boot-bg .width410,
.loading-bg .width410 {
    width: 410px;
}

#app-boot-bg .line-wrapper,
.loading-bg .line-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

#app-boot-bg .width500,
.loading-bg .width500 {
    width: 500px;
}

@-webkit-keyframes pulse {
    0% {
        opacity: .5
    }
    100% {
        opacity: 1
    }
}

@keyframes pulse {
    0% {
        opacity: .5
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fade-slide-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes fade-slide-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
